body {
    /*need to set tan or some mellow background color*/
}
/*i want to use roboto font eventually for my whole webpage*/
h1 {
    text-align: center;
    color: green;
    border: 4px solid green
    /*max-width: 500px;*/
}
h2{
    /*decide what to do with the h2 - plan on using it for item description and choices*/
}
p{
    /*add to this once i decide on format*/
    font-size: 18px;
    color: black;
}

.capitalize {
    text-transform: uppercase;
}
/*removing the underline doesnt seem to work but bolding works*/
.supplies li {
    text-decoration: none; /*should remove underline but it doesnt*/
    font-weight: bold;
    padding: 4px 10px 4px 1px;/*clockwise: top right bottom left*/
}