body {
}
/*i want to use roboto font eventually for my whole webpage*/
h1{
    color: green;
}

.capitalize {
    text-transform: uppercase;
}
/*removing the underline doesnt seem to work but bolding works*/
.supplies li {
    text-decoration: none; /*should remove underline but it doesnt*/
    font-weight: bold;

}